h1{
    text-align: center;
    color: #dddddd;
    font-size: 60px;
    
}
.header-bg{
    background-color: #222222;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
}
.header-link{
    color: inherit;
    text-decoration: None;
}
.content{
    width: 80%;
    margin: 0 0 5% 5%;
    padding: 5% 5% 5% 5%; 
    background-color: #f7f7f7;
}
.input-field:hover{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border:1px solid #5AB0DB;
    border-radius:0;
}
.input-field{
    border:1px solid #aaaaaa;
    border-radius:0;
}
.input-container{
    display: inline-block;
}

table, th, td{
    border: 1px solid darkgrey;
    border-collapse: collapse;
    border: none;
}
table{
    margin-bottom: 50px;
    border: none;
}
th, td{
    padding: 4px;
    
}

.btn {
  font: bold 17px Arial;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.btn-red{
    background-color: #cc0400;
    color: white;
}

.btn-yellow{
    background-color: #fffd91;
    color: black;
}

.btn-green{
    background-color: green;
    color: white;
}


.clDelete{
  background-color: #cc0400;
  font: bold 17px Arial;
  text-decoration: none;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

th{
    font-size: 19px;
    font-weight: bold;
}
h1:hover{
    color: white;
}
h2{
    font-size: 25px;
    margin-bottom: 10px;
}